.port-main{
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    object-fit: cover;
    
}


.port-main a img{
    height: 400px;
    width: 600px;
display: flex;
align-items: center;
justify-content: center;
}




@media(max-width:998px){
    .port-main a img{
        width: 100%;
        height: 200px;
       
    }

    .port-main p{
    color: white;
    }

    [data-bs-theme=dark] .carousel .carousel-control-next-icon, [data-bs-theme=dark] .carousel .carousel-control-prev-icon, [data-bs-theme=dark].carousel .carousel-control-next-icon, [data-bs-theme=dark].carousel .carousel-control-prev-icon {
        filter: invert(0) grayscale(100);
    }
}
